[user]
    email = sascha.wander@onionmail.com
    name = Sascha Wander <wandsas>
	signingkey = 0x56303570E0D0B038

[init]
    defaultBranch = main

[core]
    excludesFile = ~/.config/git/gitignore_global
    hooksPath = ~/.config/git/hooks

[alias]
	l = log --pretty='format:%h %G? %s%d' -n 20 --graph
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	s = status -sb
	ss = s -uno

[color]
	ui = false
	diff = auto

[commit]
	gpgsign = true

[tag]
	gpgsign = true

# @TODO: added only temporary for testing git-http-backend with self-signed certs
[http]
	sslVerify = false
