[user]
    email = sawander28@outlook.com
    name = Sascha Wander <wandsas>
	signingkey = 0x56303570E0D0B038
[init]
    defaultBranch = main
[push]
    default = simple
[core]
    excludesFile = ~/.config/git/gitignore_global
    hooksPath = ~/.config/git/hooks
    compression = 9
[alias]
	l = log --pretty='format:%h %G? %s%d' -n 20 --graph
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	s = status -sb
	ss = s -uno
[color]
	ui = true
	diff = auto
[commit]
	gpgsign = true
[tag]
    gpgsign = true
[sendemail]
    from = Sascha Wander <sawander28@outlook.com>
